/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import url('https://fonts.cdnfonts.com/css/miama');

body{
    font-family: "Roboto", sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*//////////////////// shared-styles //////////////////*/

.display{
    display: flex;
}

.header-main,
.change-habits-container{
    max-width: 1200px;
    margin: 0 auto;
}
/* orange-button */
.button-primary button{
    color: white;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    font-size: 18px;
    padding: 20px 40px;
    border: none;
}
.not-for-dekstop{
    display: none;
}

/*////////////////// header section ////////////////////*/

header{
    background:linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%),linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%),linear-gradient(360.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%),linear-gradient(360.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}

/* navbar */

.navbar-main{
    justify-content: space-between;
    align-items: center;

    padding-top: 30px;
}
.nav-right{
    margin-top: 10px;
    gap: 60px;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 2px 20px 2px 0px;
}

.nav-left h1{
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
    color: rgb(230, 83, 60);
}
.ham-burgir{
    display: none;
}
/* banner */
.banner-main{
    margin-top: 32px;

    align-items: center;
    gap: 220px;
}
/* .banner-left  */
.banner-left{
    width: 50%;
}
.banner-left h1{
    color: rgb(255, 255, 255);
    font-size: 75px;
    font-weight: 900;
    line-height: 80px;
    margin-bottom: 28px;
}
.banner-left .stylish-banner-part{
    font-family: 'Miama', sans-serif;
    font-size: 140px;
    font-weight: 200;
    
}
.banner-left p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.8;
    letter-spacing: 1.5px;

    margin-bottom: 35px;
}

.banner-all-buttons{
    gap: 18px;
}
/* .banner-right  */
.banner-right{
    width: 30%;
    position: relative;
}
.banner-right image img{
    width: 100%;
}

.video-350, .video-500{
    position: absolute;
    background: rgba(116, 105, 105, 0.326);
    
    backdrop-filter: blur(8px);
    padding: 20px 24px;
    border-radius: 12px;

    justify-content: center;
    align-items: center;
    /* gap: 10px; */

    border: 1px solid rgba(173, 152, 152, 0.614);
}

.video-350 div .red-circle{
    color: rgb(230, 83, 60);
    font-size: 35px;
}
.video-350 h1{
    color: white;
    font-size: 25px;
    font-weight: 700;
}
.video-500 h1{
    color: white;
    font-size: 34px;
    font-weight: 900;
}
.video-350 p, .video-500 p{
    color: white;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.3;
}
.video-350{
    gap: 10px;
    left:-25%;
    top: 75%;
}
.video-500{
    right: -12%;
    top: 25%;
    padding: 17px 24px;
}

/*////////////////////////// main ////////////////////////////*/

/*///////////////// change-habits-main ///////////////////*/
.change-habits-main{
    background: rgba(0, 0, 0, 0.937);
    text-align: center;
}
.change-habits-container{
    padding-top: 70px;
}
.change-habits-main h1{
    color: white;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}
.change-habits-container > p{
    width: 50%;
}
.change-habits-main p{
    margin: 0 auto;
    color: white;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.4;
    line-height: 20px;
    letter-spacing: 1.5px;
    margin-bottom: 50px;
}
.change-habits-card-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(9,1fr);
    
    padding-left: 50px;
}

.c-1{
    grid-column: 1/span 2;
    grid-row: 1/span 8;
}
.c-2{
    grid-column: 4/span 2;
    grid-row: 1/span 8;
}
.c-3{
    grid-column: 7/span 2;
    grid-row: 1/span 8;

}
.c-4{
    grid-column: 10/span 2;
    grid-row: 1/span 8;
}

.card div img{
    width: 100%;
    border-radius: 180px;
    align-items: left;
    border: 3px solid rgb(87, 85, 85);
}

.card h1{
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.card p{
    letter-spacing: 0;
}



/*MUST   --------------- // join club now+ download app button fix */

/* Run an Extra Mile Easily */
.run-an-extra-mile-main{
    background-color: rgba(0, 0, 0, 0.937);
    padding-bottom: 100px;
}
.run-an-extra-mile-container{
    justify-content: space-between;
    align-items: center;

    background-color: rgba(45, 44, 44, 0.751);
    padding: 40px 40px 40px 80px;

    border-radius: 12px;
    
    max-width: 1150px;
    margin: 0 auto;
}

.run-an-extra-mile-left{
    width: 40%;
}
.run-an-extra-mile-right{
    width: 42%;
}
.run-an-extra-mile-left h1{
    width: 75%;
    color: white;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}
.run-an-extra-mile-left p{
        color: white;
        font-size: 12px;
        font-weight: 400;
        opacity: 0.4;
        line-height: 20px;
        letter-spacing: 1.5px;
        margin-bottom: 30px;
    }

    .run-an-extra-mile-button button{
        padding: 15px 50px; 
        border-radius: 23px;
    }

/* confusing image part */


/* .run-an-extra-mile-right div{
    height: 300px;
    width: 380px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}
.run-an-extra-mile-right div img{
    width: 100%;
    transform: scale(3.2);

    position: absolute;
    top: 40%;
    right: 45%;    
} */

.run-an-extra-mile-right div img{
    width: 100%;
    height: 400px;
    object-fit: none;
    object-position: 66% 30%;
    border-radius: 20px;

}


/*////////////////////// bmi container ////////////////////*/
.bmi_calculator-main{
    /* padding-top: 100px; */
    background-color: rgba(0, 0, 0, 0.937);
}
.bmi-calculator-header{
    width: 40%;
    margin: 0 auto;
    padding-bottom: 90px;
    /* border: 2px solid red; */
}
.bmi-calculator-header h1{
    color: white;
    text-align: left;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 15px;
}
.bmi-calculator-header p,
.bmi-calculator-right p{
    color: white;
    text-align: left;
    width: 100%;
    color: white;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.4;
    line-height: 20px;
    letter-spacing: 1.5px;
}



.bmi-calculator-background-container{
    background-color: rgb(48, 46, 46);
}
.bmi-calculator-container{
    max-width: 1150px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: space-between;
}

/* left part */
.bmi-calculator-left{
    width: 40%;
}
.bmi-calculator-left h1,
.bmi-calculator-right h1{
    color: white;
    font-size: 28px;
    font-weight: 900;
    padding-bottom: 35px;
}

table th{
   color: white;
   font-size: 16px;
   font-weight: 500;
}
table td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}
.bmi-calculator-left table,th,td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    text-align: left;
    padding: 13px 25px;
}
/* right part */
.bmi-calculator-right{
    width: 54%;
    margin-left: 40px;
}
.bmi-calculator-right h1{
    padding-bottom: 35px;
}
.bmi-calculator-right p{
    letter-spacing: 1.0px;
    margin-bottom: 20px;
}

.bmi-input-part{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    gap: 10px;

}

.no-1{
    grid-column: 1/span 6;
    grid-row: 1/span 3;
}
.no-2{
    grid-column: 7/span 6;
    grid-row: 1/span 3;
}
.no-3{
    grid-column: 1/span 6;
    grid-row: 4/span 3;
}
.no-4{
    grid-column: 7/span 6;
    grid-row: 4/span 3;
}
.no-5{
    grid-column: 1/span 12;
    grid-row: 7/span 3;
}

.bmi-input-part input,select{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    padding-left: 20px;
    border: none;
}
.bmi-input-part ::placeholder{
    color: rgba(255, 255, 255, 0.6);
}

.bmi-calculator-right .button-primary button{
    padding: 15px 60px;
}

/*///////////////// Meet-Our-Team ///////////////////*/


.meet-our-team-main{
    background-color: rgba(0, 0, 0, 0.937);
}
.meet-our-team-container{
    max-width: 1150px;
    margin: 0 auto;

    /* border-radius: 22px; */
    padding-bottom: 22px;
}
.meet-our-team-container>h1{
    color: white;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    padding-top: 80px;
}
.meet-our-team-grid-images h1{
    color: white;
    font-size: 22px;
    font-weight: 900;
}

/* shared-style */
.meet-our-team-container > p,
 .footer-left p{
    width: 60%;
    color: white;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.4;
    line-height: 20px;
    letter-spacing: 1.5px;

    text-align: center;

    margin: 0 auto;

    margin-top: 15px;
    margin-bottom: 40px;
}
.meet-our-team-grid-images  p{
    color: white;
    font-weight: 400;
    opacity: 0.4;
    line-height: 20px;
    letter-spacing: 1.5px;
    margin-bottom: 50px;

    font-size: 15px;
}
.meet-our-team-grid-images{
    background-color: rgba(45, 44, 44, 0.751);

    max-width: 1150px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
    gap: 22px;

    padding: 22px;
    border-radius: 22px;
}

.t-1{
    grid-column: 1/span 4;
    grid-row: 1/span 3;
}
.t-2{
    grid-column: 5/span 4;
    grid-row: 1/span 3;
}
.t-3{
    grid-column: 9/span 4;
    grid-row: 1/span 3;

}
.t-4{
    grid-column: 1/span 4;
    grid-row: 4/span 3;
}
.t-5{
    grid-column: 5/span 4;
    grid-row: 4/span 3;

}
.t-6{
    grid-column: 9/span 4;
    grid-row: 4/span 3;
}


.trainer-card{
    position: relative;
}
.trainer-name{
    position: absolute;

    top: 77%;
    left: 5%;
}

.trainer-image{
    width: 100%;
    height: 300px;
    object-fit: cover;
    /* object-position: 90% 90%; */
    border-radius: 22px;
    filter: brightness(80%);
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/object-position */



/*/////////////////////// footer //////////////////////////*/
footer{
    background-color: rgba(32, 32, 32, 0.937);
}
.footer-container{
    max-width: 1150px;
    margin: 0 auto;
}
.footer-card-container{
    padding-bottom: 50px;

    border-bottom:1px solid rgba(255, 255, 255, 0.1);;
}
.footer-card-container h1{
    padding-top: 50px;
    color: rgb(230, 83, 60);
    font-size: 65px;
    font-weight: 800;
    font-style: italic;

    margin-bottom: 30px;
}
.footer-left p{
    font-size: 15px;
    margin: 0;
    text-align: left;
    width: 90%;    
}

.footer-middle p, .footer-right p{
    color: white;
    font-size: 22px;
    font-weight: 400;
    opacity: 0.4;
    margin-top: 5px;
    margin-bottom: 15px;
}
.footer-container h3{

    padding-top: 60px;
    color: white;
    font-size: 30px;
    font-weight: 700;

    margin-bottom: 25px;
}

.footer-left{
    width: 50%;
}
.footer-middle{
    width: 25%;
    padding-left: 100px;
}
.footer-right{
    width: 25%;
    padding-left: 100px;
}

.footer-container h2{
    color: white;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.4;
    padding: 20px;
    padding: 20px;
    text-align: center; 
}
