/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import url('https://fonts.cdnfonts.com/css/miama');

body{
    font-family: "Roboto", sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*//////////////////// shared-styles //////////////////*/

.display{
    display: flex;
}

.header-main,
.change-habits-container{
    max-width: 1200px;
    margin: 0 auto;
}
/* orange-button */
.button-primary button{
    color: white;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    font-size: 18px;
    padding: 10px 20px;
    border: none;
}
.not-for-dekstop{
    display: none;
}

/*////////////////// header section ////////////////////*/

header{
    background:linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%),linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%),linear-gradient(360.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%),linear-gradient(360.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}

/* navbar */

.navbar-main{
    justify-content: space-between;
    align-items: center;

    padding-top: 30px;
}
.nav-right{
    margin-top: 10px;
    gap: 60px;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 2px 20px 2px 0px;
}

.nav-left h1{
    font-size: 36px;
    font-weight: 7  00;
    font-style: italic;
    color: rgb(230, 83, 60);
}
.ham-burgir{
    display: none;
}
/* banner */
.banner-main{
    margin-top: 32px;

    align-items: center;
    gap: 220px;
}
.banner-left{
    width: 50%;
}
.banner-left h1{
    color: rgb(255, 255, 255);
    font-size: 75px;
    font-weight: 900;
    line-height: 80px;
    margin-bottom: 28px;
}
.banner-left .stylish-banner-part{
    font-family: 'Miama', sans-serif;
    font-size: 140px;
    font-weight: 200;
    
}
.banner-left p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.8;
    letter-spacing: 1.5px;

    margin-bottom: 35px;
}

/* .banner-left  */
.banner-right{
    width: 30%;
    position: relative;
}
.banner-right image img{
    width: 100%;
}

.video-350, .video-500{
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    
    backdrop-filter: blur(8px);
    padding: 20px 20px;
    border-radius: 12px;

    justify-content: center;
    align-items: center;
    gap: 10px;

    border: 1px solid rgba(255, 255, 255, 0.1);
}
.video-350 div i{
    color: rgb(230, 83, 60);
    font-size: 35px;
}
.video-350 h1,.video-500 h1{
    color: white;
    font-size: 24px;
    font-weight: 900;
}
.video-350 p, .video-500 p{
    color: white;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.3;
}
.video-350{
    left:-25%;
    top: 75%;
}
.video-500{
    right: -12%;
    top: 25%;
}

/*////////////////////////// main ////////////////////////////*/

/*///////////////// change-habits-main ///////////////////*/
.change-habits-main{
    background: rgba(0, 0, 0, 0.937);
    text-align: center;
}
.change-habits-container{
    padding-top: 70px;
}
.change-habits-main h1{
    color: white;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}
.change-habits-main p{
    color: white;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.4;
    line-height: 20px;
    letter-spacing: 1.5px;
    margin-bottom: 50px;
}
.change-habits-card-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(9,1fr);
    
    padding-left: 50px;
}

.c-1{
    grid-column: 1/span 2;
    grid-row: 1/span 8;
}
.c-2{
    grid-column: 4/span 2;
    grid-row: 1/span 8;
}
.c-3{
    grid-column: 7/span 2;
    grid-row: 1/span 8;

}
.c-4{
    grid-column: 10/span 2;
    grid-row: 1/span 8;
}

.card div img{
    width: 100%;
    border-radius: 180px;
    align-items: left;
    border: 2px solid rgb(72, 69, 69);
}

.card h1{
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.card p{
    letter-spacing: 0;
}



/*MUST   --------------- // join club now+ download app button fix */

/* Run an Extra Mile Easily */
.run-an-extra-mile-main{
    background-color: rgba(0, 0, 0, 0.937);
    padding-bottom: 100px;
}
.run-an-extra-mile-container{
    justify-content: space-between;
    align-items: center;

    background-color: rgba(45, 44, 44, 0.751);
    padding: 40px 40px 40px 80px;

    border-radius: 12px;
    
    max-width: 1150px;
    margin: 0 auto;
}

.run-an-extra-mile-left{
    width: 40%;
}
.run-an-extra-mile-right{
    width: 42%;
}
.run-an-extra-mile-left h1{
    color: white;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}
.run-an-extra-mile-left p{
        color: white;
        font-size: 12px;
        font-weight: 400;
        opacity: 0.4;
        line-height: 20px;
        letter-spacing: 1.5px;
        margin-bottom: 30px;
    }

    .run-an-extra-mile-button button{
        padding: 15px 50px; 
        border-radius: 23px;
    }

/* confusing image part */


/* .run-an-extra-mile-right div{
    height: 300px;
    width: 380px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}
.run-an-extra-mile-right div img{
    width: 100%;
    transform: scale(3.2);

    position: absolute;
    top: 40%;
    right: 45%;    
} */

.run-an-extra-mile-right div img{
    width: 100%;
    height: 400px;
    object-fit: none;
    object-position: 66% 30%;
    border-radius: 20px;

}